@model List<Storm.Domain.Entity.CertificateManage.CertificateShowEntity>
    @{
        Layout = null;

    }

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>中国青少年发展服务中心</title>
        <style type="text/css">
            body {
                margin: 0px;
            }

            .dvCent {
                width: 100%;
            }

            .dvCentTopimg {
                width: 100%;
            }

                .dvCentTopimg img {
                    width: 100%;
                }

            .dvCentShow {
                width: 100%;
            }

            .dvCentShow {
                width: 90%;
                margin: 0 auto;
                margin-top: 10px;
            }

            .dvCentShowname {
                width: 100%;
                text-align: center;
                margin-top: 30px;
            }

                .dvCentShowname span {
                    color: red;
                    font-family: 'Microsoft YaHei';
                    font-size: 28px;
                    font-weight: 600;
                }

            .dvCentShow table {
                width: 70%;
                border: 0;
                border-collapse: collapse;
                margin: 0 auto;
                margin-top: 20px;
            }

                .dvCentShow table tr td {
                    border: 1px solid red;
                    height: 50px;
                    font-family: 'Microsoft YaHei';
                    font-size: 16px;
                    font-weight: 500;
                }

                    .dvCentShow table tr td span {
                        margin-left: 5px;
                    }


            .dvCentbtnmain {
                width: 100%;
                text-align: center;
            }

            .dvCentbtn {
                width: 200px;
                height: 40px;
                margin-top: 40px;
                border: 0;
                background-color: red;
                color: white;
                cursor: pointer;
            }

            .dvCentcopy {
                width: 100%;
                text-align: center;
                font-family: 'Microsoft YaHei';
                font-size: 12px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        </style>
    </head>

    <body>
        <div class="dvCent">
            <div class="dvCentTopimg">
                <img src="~/Content/images/top2.png" />
            </div>
            <div class="dvCentShow">
                <div class="c">证书查询>查询结果</div>

                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="dvCentShowname">

                            <span>@item.ProjectName</span>
                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td style="text-align:center;">姓&nbsp;&nbsp;&nbsp;&nbsp;名</td>
                                    <td colspan="3"><span>@item.FullName</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">性&nbsp;&nbsp;&nbsp;&nbsp;别</td>
                                    <td><span>@item.Gender</span></td>
                                    <td style="text-align:center;">证书编号</td>
                                    <td><span>@item.Number</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">证书类型</td>
                                    <td><span>@item.ProjectName</span></td>
                                    <td style="text-align:center;">发证时间</td>
                                    <td><span>@item.CertificationTime</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">身份证号</td>
                                    <td colspan="3"><span>@item.IdCard</span></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
            <div class="dvCentbtnmain">
                <span>
                    <input class="dvCentbtn" type="button" value="返回首页" onclick="goIndex()" />
                </span>
            </div>
            <div class="dvCentcopy">
                版权所有：中国少年儿童发展服务中心、中国青少年宫协会
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    function goIndex() {
        document.location.href = "/main/Index";
    }
</script>
